@keyframes slideIn {
    from {
        transform: translateY(90%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.playerContainer {
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;


}

.trackBlocksContainer {
    animation: slideIn 0.3s ease;
    width: 100%;
    margin-bottom: 120px;
}

.trackBarContainer {
    animation: slideIn 0.5s ease;
    width: 100%;
    margin-top: 20px;
}
.favoriteCount {
    font-weight: bold;
    font-size: 1.2em; /* Например, увеличиваем размер текста */
    color: #007bff; /* Цвет текста */
}
.formContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.inputField {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 300px;
    height: 20px;
}

.inputField:focus {
    outline: none;
    border-color: #007bff;
}
.additionalControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Равномерно распределяет пространство между дочерними элементами */
    margin: 15px;
}

.selectData{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 20px;
    width: 200px;
    height: 43px;
}

.favoriteButton {
    max-height: 43px;
    margin-left: 20px;
    /* Оставляем немного отступа справа от кнопки */
    position: relative;
}

.favoriteButton::before {
    position: absolute;
    top: -5px;
    right: -5px;
    content: attr(data-count);
    background-color: #007bff;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    visibility: visible;
}

.additionalControls button[data-count="0"]::before {
    visibility: hidden; /* Скрыть, когда data-count равно 0 */
}

.headers{
    display: flex;
    flex-direction: row;
}

.tooltip {
    position: absolute;
    top: 43px;
    left: 0;
    width: 61%;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999
}

/* Стили для элементов в подсказке */
.tooltip-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.tooltip-item:last-child {
    border-bottom: none; /* Убираем границу с последнего элемента */
}

.tooltip-item:hover {
    background-color: #f0f0f0;
}

.SearchString:hover{
    background-color: #4b4b4b;
}