.playerContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #888888;
    padding: 10px;
}

.player {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player audio {
    margin: 0 10px;
}

.seekBar,
.volumeBar {
    margin: 0 10px;
}
.volumeBar{
    width: 7%;
}
.seekBar{
    width: 50%;
}

.nameBlock{
    width: 18%;
    margin: 5px;
}


.tooltip {
    display: inline-block;
    position: fixed;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 9999;
}